<!-- Header
		    ================================================== -->
<header class="clearfix white-header-style fullwidth-with-search">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo-black.png" alt="">
            </a>

        </div>
    </nav>

</header>
<!-- End Header -->

<!-- sign-block
                    ================================================== -->
<section class="sign">
    <div class="sign__area text-center centrado">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-sign-tab" data-toggle="tab" href="#nav-sign" role="tab" aria-controls="nav-sign" aria-selected="true">{{ 'logIn' | translate }}</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-sign" role="tabpanel" aria-labelledby="nav-sign-tab">

                <!-- sign-form-module -->
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="login()" class="sign-form">

                    <label class="sign-form__label" for="email">
                        {{ 'email' | translate }}
                    </label>
                    <input formControlName="email" class="sign-form__input-text" id="email" type="email" name="email" placeholder="example@example.com" required/>

                    <label class="sign-form__label" for="password">
                        {{ 'password' | translate }}:
                    </label>
                    <input formControlName="password" class="sign-form__input-text" id="password" type="password" name="password" placeholder="{{ 'password' | translate }}" required/>
                    <div class="sign-form__checkbox">
                        <input formControlName="remember" class="sign-form__input-checkbox" type="checkbox" name="rememb-check" id="rememb-check" />
                        <span class="sign-form__checkbox-style"></span>
                        <span class="sign-form__checkbox-text">{{ 'rememberMe' | translate }}</span>
                    </div>

                    <button class="sign-form__submit" id="submit-loggin" type="submit">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'logIn' | translate }}
                    </button>
                </form>

                <!-- End sign-form-module -->

            </div>
        </div>
    </div>
</section>
<!-- End sign-block -->