<section class="user-detail">
    <div class="user-detail__profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="user-detail__profile-box">
                        <a class="user-detail__profile-image" href="#"><img src="assets/upload/avat1.jpg" alt=""></a>
                        <h3 class="user-detail__profile-title">
                            <a href="#">Matt Smith</a>
                            <span class="user-detail__profile-location">
                                    <i class="fa fa-map-marker"></i>
                                    New York
                                </span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>