<!-- Header ================================================== -->
<header class="clearfix white-header-style fullwidth-with-search">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo-black.png" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="active" href="index.html">Home <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul class="dropdown">
                            <li><span>Demo Pages</span></li>
                            <li><a href="index.html">Homepage 1</a></li>
                            <li><a href="home2.html">Homepage 2</a></li>
                            <li><a href="home3.html">Homepage 3</a></li>
                            <li><a href="home4.html">Homepage 4</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto right-list">
                    <li><a href="sign-page.html"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->