<!-- Header ================================================== -->
<header class="clearfix white-header-style fullwidth-with-search">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo-black.png" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li *ngIf="menu">
                        <a class="active">{{ menu.title | translate }}<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul class="dropdown">
                            <li *ngFor="let option of menu.submenu"><a [routerLink]="option.url">{{ option.title | translate }}</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="directory" class="directorio">{{ 'directory' | translate }}</a></li>
                </ul>
                <ul class="navbar-nav ml-auto right-list">
                    <li>
                        <a class="ml-5">{{ 'user' | translate }} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul class="dropdown">
                            <li><a href=""><i class="fa fa-user-circle" aria-hidden="true"></i> {{ 'profile' | translate }}<strong></strong></a></li>
                            <li><a href="#" (click)="authService.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'logOut' | translate }}<strong>!</strong></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->